<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  <div class="jumbotron-fluid jumbo-header">
    <h1>Our Story</h1>
  </div>
  <hr>
  <div class="row padded-row">
    <div class="col-sm-7">
      <img class="img-fluid" src="images/groupStockPic.jpeg" alt="Photo of Founders">
    </div>
    <div class="col-sm-5" style="align-content: center; padding-right: 30px; color: #14213D">
      <h4 style="justify-content: center">
        Our team is driven by the pursuit of envisioning the future of live entertainment in partnership with our
        collaborators. We are passionate about building technology and services that seamlessly connect fans with the
        events they love. Our relentless efforts are focused on developing innovative solutions that unlock
        unforgettable experiences for fans.
      </h4>
      <br>
      <h4>
        - Founders of WBTT
      </h4>
    </div>
  </div>

  <div class="row padded-row">
    <div class="col-sm-4" style="display: flex; align-items: center">
      <h1 style="font-weight: bolder; color: #14213D">
        Our industry <br>
        never stops <br>
        <span style="color: #FCA311">neither do we.</span>
      </h1>
      <br>
    </div>
    <div class="col-sm-6" style="align-content: center">
      <img  class="img-fluid" src="images/event-singer.jpg">
    </div>
    <br>
  </div>
  <div>
    <br>
    <h1 style="font-weight: bolder; color: #14213D; text-align: center">
      We are local.
    </h1>
    <p style="text-align: center">
      If you're in San Antonio, contact our local team and get in touch today.
    </p>
    <div style="text-align: center">
      <button type="button" class="btn btn-inverse" href="location./my/contact">
        Contact us
      </button>
    </div>
  </div>
  <hr style="margin-bottom: 15px; margin-top: 15px">
  <footer class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>Copyright © WBTT. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <%- include('../partials/scripts') %>
</body>

</html>
