<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About WBTT Inc.</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap-4.4.1.css" rel="stylesheet">
  	<style type="text/css">
    	@import url("css/custom.css")
  	</style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <img src="assets/images/logo.png"	 width="75px">
      <!--<a class="navbar-brand" href="#"><img src="assets/images/logo.png" width="75px"></a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</a>
            <div class="dropdown-menu" aria-labelledby="categoryDropdown">
              <a class="dropdown-item" href="concerts.html">Concerts</a>
              <a class="dropdown-item" href="sports.html">Sports</a>
              <!--<div class="dropdown-divider"></div>-->
              <a class="dropdown-item" href="theater.html">Theater</a>
			  <a class="dropdown-item" href="other-categories.html">More</a>
            </div>
          </li>
		   <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a>
            <div class="dropdown-menu" aria-labelledby="accountDropdown">
              <a class="dropdown-item" href="cart.html">Shopping Cart</a>
              <a class="dropdown-item" href="my-tickets.html">My Tickets</a>
              <a class="dropdown-item" href="account.html">My Account</a>
			  <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="login.html">Login</a>
            </div>
          </li>
		  <li>
			  <a class="btn btn-primary" href="cart.html" role="button">
  				<span class="glyphicon-shopping-cart" aria-hidden="true"></span>Cart
				</a>
		  </li>
		  <li class="nav-item">
            <a class="nav-link" href="checkout.html">Checkout</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
		  
      </div>
    </nav>
    
    <div class="jumbotron-fluid" style="background-color: #14213D; padding: 50px">
		<h1 style="color: #FCA311; font-size: 50px">Our Story</h1>
	</div>
	<hr>
	<div class="row" style="padding: 30px; align-content: center">
  		<div class="col-sm-7">
			<img src="assets/images/groupStockPic.jpeg" alt="Photo of Founders">
		</div>
  		<div class="col-sm-5" style="align-content: center; padding-right: 30px; color: #14213D">
			<h4 style="justify-content: center">
				Our team is driven by the pursuit of envisioning the future of live entertainment in partnership with our collaborators. We are passionate about building technology and services that seamlessly connect fans with the events they love. Our relentless efforts are focused on developing innovative solutions that unlock unforgettable experiences for fans.
			</h4>
			<br>
			<h4>
				- Founders of WBTT
			</h4>
		</div>
	</div>
	  
	<div class="row" style="padding: 20px; align-content: center">
		<div class="col-sm-4" style="display: flex; align-items: center">
			<h1 style="font-weight: bolder; color: #14213D">
				Our industry <br>
				never stops <br>
				<span style="color: #FCA311">neither do we.</span>
			</h1>
			<br>
		</div>
		<div class="col-sm-6" style="align-content: center">
			<img src="assets/images/event-singer.jpg">
		</div>
		<br>
	</div>
	<div>
		<br>
		<h1 style="font-weight: bolder; color: #14213D; text-align: center">
			We are local. 
		</h1>
		<p style="text-align: center">
			If you're in San Antonio, contact our local team and get in touch today.
		</p>
		<div style="text-align: center">
			<button type="button" class="btn btn-dark" style="background-color: #14213D; color: #FCA311" href="contact.html">
				Contact us
			</button>
		</div>
	</div>
    <hr style="margin-bottom: 15px; margin-top: 15px">	  
    <hr>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Copyright © WBTT. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.4.1.js"></script>
  </body>
</html>



