<!doctype html>
<html>

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  <h2 style="margin-top:15px; margin-bottom:15px;">Create Event</h2>
  <div class="container" id="createEventDiv">
    <form>
      <div class="form-group">
        <label for="event-name">Event Name</label>
        <input type="text" class="form-control" id="create_eventname" placeholder="Event Name">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="create_description" placeholder="Description">
      </div>
      <div class="form-group">
        <label for="imageSelect">Choose an image:</label>
          <select name="existingImages" id="existing-images">
            <option value="/images/event-images/file-name1.jpg">Image 1</option>
            <option value="/images/event-images/file-name2.jpg">Image 2</option>
            <option value="/images/event-images/file-name3.jpg">Image 3</option>
          </select>
      </div>
      <h4 style="margin-left:25px">-or-</h4>
      <div class="form-group">
        <label for="image">Upload An Image</label>
        <input type="text" class="form-control" id="create_image" placeholder="Image URL">
      </div>
      <div class="form-group">
        <input type="file" name="chooseFile" id="chooseFile">
      </div>
      <div class="form-group">
        <label for="venue">Venue</label>
        <input type="text" class="form-control" id="create_venue" placeholder="Event Venue">
      </div>
      <div class="form-group">
        <label for="event-configuration">Configuration</label>
        <input type="text" class="form-control" id="create_configuration"
          placeholder="Venue Configuration (create to dropdown?)">
      </div>
      <div class="form-group">
        <label for="event-category">Category</label>
        <input type="text" class="form-control" id="create_category" placeholder="Event Category (create to dropdown?)">
      </div>

      <div class="form-group">
        <label for="date">Date</label>
        <input type="text" class="form-control" id="create_date" placeholder="Date (GMT Universal Format)">
      </div>
      <div class="form-group">
        <label for="time">Time</label>
        <input type="text" class="form-control" id="create_time" placeholder="Time (00:00:00 format)">
      </div>
      <div class="form-group">
        <label for="day">Day</label>
        <input type="text" class="form-control" id="day" placeholder="Day">
      </div>
      <div class="form-group">
        <label for="base-price">Base Price</label>
        <input type="text" class="form-control" id="basePrice" placeholder="Base Price (No $)">
      </div>
      <div class="form-group">
        <label for="discount-eligable">Discount Eligible</label>
        <input type="text" class="form-control" id="discount-eligable" placeholder="Discount Eligable">
      </div>
      <button onclick="createEvent()" id="create_event">Update</button>
      <button type="reset" value="Reset">Reset</button>
    </form>
  </div>
  <hr style="margin-bottom: 15px; margin-top: 15px">
  <footer class="text-center">
    <%- include('../partials/footer') %>
  </footer>
  <%- include('../partials/scripts') %>
</body>

</html>
