<!doctype html>
<html>

<head>
	<%- include('../partials/head') %>
</head>

<body>
	<header>
		<%- include('../partials/header') %>
	</header>
	<div class="jumbotron-fluid jumbo-header">
		<h1>F.A.Q.</h1>
	</div>
	<hr>
	<div class="container">
		<div style="text-align: center">
			<h2>Advanced Searching and Filtering</h2>
		</div>
		<p>The search feature in the top navigation bar is a great way to help you find events. But, There are some
			advanced keywords that can really help you find what you're looking for. Just use the format
			'<i>keyword:search terms</i>' to help narrow down your search results.</p>
		<h4>Category keywords: category, cat</h4>
		<p>Example: category:sports or cat:concert</p>
		<br>
		<h4>Before Date Keywords: befored, beforedate</h4>
		<p>Example: befored:10/05/2023 or beforedate:01/01/2027</p>
		<br>
		<h4>After Date Keywords: afterd, afterdate</h4>
		<p>Example: afterd:10/05/2023 or afterdate:01/01/2027</p>
		<br>
		<h4>On Date Keywords: ond, ondate</h4>
		<p>Example: ond:10/05/2023 or ondate:01/01/2027</p>
		<br>
		<h4>Day Keywords: dotw, dayoftheweek</h4>
		<p>Example: dotw:Tuesday or dayoftheweek:monday</p>
		<br>
		<h4>Venue Keywords: venue, ven</h4>
		<p>Example: ven:AT&amp;T or venue:AT&amp;T</p>
		<br>
		<h4>Cost Below Keywords: costb, costbelow</h4>
		<p>Example: costb:150.00 or costbelow:100.00</p>
		<br>
		<h4>Cost Above Keywords: costa, costabove</h4>
		<p>Example: costa:150.00 or costabove:100.00</p>
		<br>
		<h4>Sort by Availibility: avail, availibility</h4>
		<p>Example: avail:desc, availibility:asc</p>
		<br>
		<h4>Sort by Cost: cost</h4>
		<p>Example: cost:asc, cost:desc</p>
		<br>
	</div>
</body>
<hr style="margin-bottom: 15px; margin-top: 15px">
<footer class="text-center">
	<%- include('../partials/footer') %>
</footer>
<%- include('../partials/scripts') %>

</html>