<!doctype html>
<html>

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>

  <style>
    .static {
      cursor: not-allowed;
    }

    .draggable {
      cursor: move;
    }

    .template-polygon {
      fill: #14213d;
    }
  </style>
  <div class="row">
  <div class="col-sm-9 background-svg">
    <!-- <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Welcome! Please Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Login</button>
        </div>
      </div>
    </div> -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox=" 0 0 1000 500" onload="makeDraggable(evt)" id="view">

      <text class="stage-label" id="textlabel" x="930" y="350">Label</text>
      <polygon points="560,470 590,445 590,470" id="top-far-left-lower" class="template-polygon"></polygon>
      <rect x="495" y="320" width="90" height="25" id="top-center-left-upper" class="template-polygon"></rect>
      <polygon points="10,445 10,470 40,470" id="top-far-right-lower" class="template-polygon"></polygon>
      <polygon points="50,470 80,470 10,410 10,435" id="top-far-right-upper" class="template-polygon"></polygon>
      <rect x="450" y="320" width="32" height="150" id="center-far-left-upper" class="template-polygon"></rect>
      <polygon points="60,320 90,345 90,320" id="bottom-far-left-lower" class="template-polygon"></polygon>
      <polygon points="20,320 50,320 90,355 90,380 " id="bottom-far-left-upper" class="template-polygon"></polygon>
      <polygon points="535,380 565,380 495,440 495,415" id="bottom-far-right-upper" class="template-polygon"></polygon>
      <rect x="100" y="320" width="90" height="150" id="stage" class="template-polygon"></rect>
      <rect x="220" y="320" width="200" height="150" id="floor" class="template-polygon"></rect>
      <rect x="610" y="320" width="300" height="150" id="court" class="template-polygon"></rect>
      <polygon points="520,470 550,470 590,435 590,405" id="top-far-left-upper" class="template-polygon"></polygon>
      <polygon points="495,380 525,380 495,405" id="bottom-far-right-lower" class="template-polygon"></polygon>
    </svg>
  </div>
  <div class="col-sm-3" id="section-details">
    <form>
        <label for="venuename" id="labelOne" style="visibility: hidden;">Venue Name:</label><br>
        <input type="text" id="venueName" name="venuename" style="width:90%; visibility: hidden;"><br>
        <label for="sectionname" id="labelTwo" style="visibility: hidden;">Section Name: (use '-' for delimiter)</label><br>
        <input type="text" id="sectionName" name="sectionname" style="width:90%; visibility: hidden;"><br>
        <label for="venueconfiguration" id="labelThree" style="visibility: hidden;">Venue Configuration:</label><br>
        <input type="text" id="venueConfiguration" name="venueconfiguration" style="width:90%; visibility: hidden;"><br>
        <label for="seatquestion" id="labelFour" style="visibility: hidden;">Will this be a seating section?:</label><br>
        <select name="hasseats" id="hasSeats" style="width:90%; visibility: hidden;"><br>
            <option value="" selected="" disabled="" hidden="">Select an option:</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
        <label for="sectioncapacity" id="labelFive" style="visibility: hidden;">Section Capacity:</label><br>
        <input type="text" id="sectionCapacity" name="sectioncapacity" style="width:90%; visibility: hidden;"><br>
        <label for="sectionweight" id="labelSix" style="visibility: hidden;">Section Weight:</label><br>
        <input type="text" id="sectionName" name="sectionname" style="width:90%; visibility: hidden;"><br>
        <label for="rowdecrement" id="labelSeven" style="visibility: hidden;">Row Decrement:</label><br>
        <input type="text" id="rowDecrement" name="rowdecrement" style="width:90%; visibility: hidden;"><br>
        <label for="textlabel" id="labelEight" style="visibility: hidden;">Text Label:</label><br>
        <input type="text" id="TextLabel" name="Textlabel" style="width:90%; visibility: hidden;"><br>
        <div style="text-align:center">
  <button type="button" class="btn btn-inverse" id="submit" style="margin-top:15px;margin-bottom:50px;visibility: hidden" onclick="update()">Apply Changes</button>
    </form>
  </div>
  </div>
  </div>
  <div style="text-align:center">
  <button type="button" class="btn btn-inverse" id="submit" style="margin-top:15px;margin-bottom:50px" onclick="location.href ='/admin/createEvent'">Submit</button>
  </div>
  <footer class="text-center">
    <%- include('../partials/footer') %>
  </footer>
  <script src="/js/event-builder.js"></script>
  <%- include('../partials/scripts') %>
</body>

</html>
