<script src="/js/login.js"></script>
<script src="/js/timer.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/"><img src="/images/logo.png" width="75px"></a>
    <!--<a class="navbar-brand" href="#"><img src="/images/logo.png" width="75px"></a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Category</a>
                <div class="dropdown-menu" aria-labelledby="categoryDropdown">
                    <a class="dropdown-item" href="/events/concert">Concerts</a>
                    <a class="dropdown-item" href="/events/sports">Sports</a>
                    <!--<div class="dropdown-divider"></div>-->
                    <a class="dropdown-item" href="/events/theater">Theater</a>
                    <a class="dropdown-item" href="/events/other">Other</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <% if (status=='user' || status=='admin' ) { %>
                    <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a>
                    <div class="dropdown-menu" aria-labelledby="accountDropdown">
                        <a class="dropdown-item" href="/my/cart">Shopping Cart</a>
                        <a class="dropdown-item" href="/my/tickets">My Tickets</a>
                        <!--<a class="dropdown-item" href="/my/account">My Account</a>
                        <div class="dropdown-divider"></div>-->
                        <!--<a class="dropdown-item" href="/my/login">Login</a>-->
                    </div>
                    <% } %>
            </li>
            <% if (status=='admin' ) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard">Admin Page</a>
                </li>
                <% } if (status=='admin' ||status=='user' ) { %>
                    <li>
                        <button type="button" class="btn btn-inverse" id="cart" onclick="location.href ='/my/cart'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-cart" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
                                </path>
                            </svg>
                            Cart
                        </button>
                    </li>
                    <% } %>

        </ul>
        <div id="timer-div" align="center" style="text-align: center; margin-right: 25px; margin-top: 5px;" hidden="true">
                <label id="time-warning"></label>
                <label id="time-text">Time Remaining to Purchase:</label>
                <label id="time" style="margin-left: 10px"></label>
        </div>
        <div class="form-inline my-2 my-lg-0">
            <button id="search-button" class="btn btn-inverse my-2 my-sm-0" style="margin-right:10px" onclick="location.href = `/search?s=${document.getElementById('eventSearch').value}`;">Search</button>
            <input class="form-control mr-sm-2" id='eventSearch' placeholder="Search" aria-label="eventSearch">
            <a onclick="location.href='/faq'" title="Search Help"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle search-help" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
</svg></a>
        </div>
        <% if (status=='na' ) { %>
            <a class="btn btn-nav my-2 my-sm-0" role="button" href="" id="login" data-toggle="modal" data-target="#loginModal">
                Login
            </a>
            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Welcome! Please Login</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="login-form">
                                <label for="username">Username:</label><br>
                                <input type="text" id="login_username" name="username" require><br>
                                <label for="password">Password:</label><br>
                                <input type="password" id="login_password" name="password" require>
                                <button type="button" class="btn btn-primary" onclick="location.href='/my/register'">Register</button>
                                <button id="login-button" type="submit" class="btn btn-primary">Login</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </form>
                        </div>
                        <!-- <div class="modal-footer">
                            
                        </div> -->
                    </div>
                </div>
            </div>
            <% } if (status=='admin' || status=='user' ) { %>
                <a class="btn btn-nav" onclick="logout()" href="" role="button" id="logout">
                    Logout
                </a>
                <% } %>
    </div>
</nav>
<hr style="margin:0px">
